{% extends 'main/layout.html' %}

{% load custom_filters %}

{% block title %}Добавить комнату{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">Добавить комнату</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Название</label>
            {{ form.name|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.room_number.id_for_label }}">Номер комнаты</label>
            {{ form.room_number|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.room_area.id_for_label }}">Площадь</label>
            {{ form.room_area|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.room_status.id_for_label }}" class="form-check-label">Статус</label>
            <div class="form-check">
                {{ form.room_status|add_class:"form-check-input" }}
                <label class="form-check-label" for="{{ form.room_status.id_for_label }}">Свободен</label>
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.price.id_for_label }}">Цена</label>
            {{ form.price|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.number_of_people.id_for_label }}">Количество человек</label>
            {{ form.number_of_people|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Изображение</label>
            {{ form.image|add_class:"form-control-file" }}
        </div>

        <button type="submit" class="btn btn-dark">Добавить</button>
    </form>
</div>
{% endblock %}
