{% extends 'main/layout.html' %}
{% block title %}Выберите комнату для редактирования{% endblock %}

{% block content %}
<div class="container my-5">
    <h3>Выберите комнату для редактирования</h3>
    <div class="list-group">
        {% for room in rooms %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ room.name }} - Номер: {{ room.room_number }}</span>
                <a href="{% url 'rooms:manage_room' room.pk %}" class="btn btn-warning">Редактировать</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
